.MuiInputBase-input {
  padding: 9px !important;
}

.css-108j1ea-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0 !important;
}

.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0 !important;
}
